<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<link rev="made" href="mailto:cho45@lowreal.net"/>
		<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>

		<script type="text/javascript" src="/assets/js/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/assets/js/micro-template.js"></script>
		<script type="text/javascript" src="/lib/libphoto.js"></script>
		<script type="text/javascript" src="/assets/js/assets.js"></script>

		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<style>
			body {
				padding: 20px 0 0 0;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span12">
					<h2>Model</h2>
					<script type="application/x-template" id="models">
						<select>
							<% for (var i = 0, it; (it = makers[i]); i++) { %>
							<optgroup label="<%= it.name %>">
								<% for (var j = 0, model; (model = it.models[j]); j++) { %>
								<option value="<%= model.name %>"><%= model.name %></option>
								<% } %>
							<% } %>
							</optgroup>
						</select>
					</script>

					<table class="table table-striped" style="width: 500px">
						<tr>
							<th>Sensor</th>
							<td id="spec-sensor"></td>
						</tr>
						<tr>
							<th>Pixels</th>
							<td id="spec-pixels"></td>
						</tr>
						<tr>
							<th>Nyquist Frequency</th>
							<td id="spec-nyquist-frequency"></td>
						</tr>
						<tr>
							<th>Minimum speed for negligible jingle</th>
							<td id="spec-minimun-speed"></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="span6">
					<h2>Required DPI for print</h2>
					<p>DPI for a human which has a visual acuity with a distance</p>
					<form class="form-horizontal well" id="dpiByDistanceAndVisualAcuity">
						<div class="control-group">
							<label class="control-label">Visual Acuity</label>
							<div class="controls">
								<input type="text" name="visualAcuity" value="1.5" class="span1"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Distance</label>
							<div class="controls">
								<div class="input-append">
									<input class="span1" name="distance" size="16" type="text" value="50"><span class="add-on">cm</span>
								</div>
							</div>
						</div>
						<hr style="border-top-color: #999"/>
						<div class="control-group">
							<label class="control-label">DPI</label>
							<div class="controls">
								<div class="input-append">
									<input class="span1 uneditable-input" name="dpi" size="16" type="text" value=""><span class="add-on">dpi</span>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="span6">
					<h2>Ignoring camera shake</h2>
					<p>A shutter speed for a focal length with jiggle falling in 1px</p>
					<form class="form-horizontal well" id="minimunSpeedByFocalLength">
						<div class="control-group">
							<label class="control-label">Focal Length</label>
							<div class="controls">
								<div class="input-append">
									<input class="span1" name="focalLength" size="16" type="text" value="50"><span class="add-on">mm</span>
								</div>
							</div>
						</div>
						<hr style="border-top-color: #999"/>
						<div class="control-group">
							<label class="control-label">Novice</label>
							<div class="controls">
								<div class="input-append">
									<input class="span1 uneditable-input" name="shutterSpeed-novice" size="16" type="text" value=""><span class="add-on">sec</span>
								</div>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Advanced</label>
							<div class="controls">
								<div class="input-append">
									<input class="span1 uneditable-input" name="shutterSpeed-advanced" size="16" type="text" value=""><span class="add-on">sec</span>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!--
					<div class="input-prepend">
						<span class="add-on">F</span><input class="span1" id="f-number" size="16" type="text" placeholder="2.8">
					</div>
					<div class="input-append">
						<input class="span1" id="focal-length" size="16" type="text" placeholder="50"><span class="add-on">mm</span>
					</div>
					-->
		</div>
	</body>
</html>
